{% extends "base.html" %}

{% block js %}
  $(function () {
    $("#id_exam_date").datepicker({
      format: "yyyy-mm-dd",
      weekStart: 1
    });

    $("#id_course > option[value='']").remove();
    var selectedCourse = $("#id_course > option[selected]");
    var courses = $.map($("#id_course > option"), function(e) {
      return {id: $(e).attr("value"), text: $(e).html()};
    });

    $("#id_course").replaceWith('<input type="hidden" name="course" id="id_course">');
    $("#id_course").select2({
      placeholder: "Select a course",
      minimumInputLength: 3,
      formatNoMatches: function(term) {return "No course found. You can add a new one from the left"},
      query: function(query) {
        var matchingCourses = [];
        $.each(courses, function(i, e) {
          if (e.text.toLowerCase().indexOf(query.term.toLowerCase()) !== -1) {
            matchingCourses.push(e);
          }
        });
        query.callback({results: matchingCourses});
      }
    });
    if (selectedCourse.size() > 0) {
      $("#id_course").select2("val", {id: selectedCourse.attr("value"), text: selectedCourse.html()});
    } else {
      $("#id_course").select2("open");
    }
  });
{% endblock %}

{% block content %}
<h2>Add an exam</h2>
{% if added %}
<div class="alert alert-success">
  <p>The exam was succesfully added! You can add more files to it on the exam page.</p> <a href="{{ new_exam.get_absolute_url }}">View the exam page</a>
</div>
{% endif %}
{% if not user.is_authenticated %}
<div class="alert">
  You haven't logged in! Logging in allows you to edit the added exam later. More files can be added to the exam even without registering.
</div>
{% endif %}
<form action="/exams/add/" method="post" class="well" enctype="multipart/form-data">{% csrf_token %}
{% include "partial/genericform.html" %}
{% include "partial/genericform.html" with form=fileform %}
<p>Note: you can add more files to the exam later</p>
<input type="submit" value="Add exam" class="btn" />
</form>
{% endblock %}
