{% extends "base.html" %}

{% block js %}
  $(function () {
    $("#id_exam_date").datepicker({
      dateFormat: "yy-mm-dd",
      firstDay: 1
    });
  });
{% endblock %}

{% block content %}
<h2>Add an exam</h2>
{% if added %}
<div class="alert alert-success">
  The exam was succesfully added! <a href="{{ new_exam.get_absolute_url }}">View the exam page</a>
</div>
{% endif %}
<form action="/exams/add/" method="post" class="well" enctype="multipart/form-data">{% csrf_token %}
{% include "genericform.html" %}
{% include "genericform.html" with form=fileform %}
<input type="submit" value="Add exam" class="btn" />
</form>
{% endblock %}
