{% extends "base.html" %}

{% block content %}
{% if added %}
<div class="alert alert-success">
  The file was succesfully added!
</div>
{% endif %}

<h2>Exam details</h2>
<table class="table table-bordered table-striped">
  <tr>
    <td>Course</td><td>{{ exam.course.code }} {{ exam.course.name }}</td>
  </tr>
  <tr>
    <td>Exam date</td><td>{{ exam.exam_date|date:"d.m.Y" }}</td>
  </tr>
  <tr>
    <td>Submitter</td>
    <td>{% if exam.submitter %}
      {{ exam.submitter.username }}
    {% else %}
      Submitter wasn't registered
    {% endif %}</td>
  </tr>
  <tr>
    <td>Added</td><td>{{ exam.date_added }}</td>
  </tr>
</table>
<h2>Exam files</h2>
<table class="table table-bordered table-striped">
  {% for file in files %}
    <tr><td><a href="{{ file.exam_file.url }}">{{ file.exam_file.url }}</a></tr></td>
  {% endfor %}
</table>

<h2>Add file to exam</h2>
<form action="." method="post" enctype="multipart/form-data" class="well">{% csrf_token %}
  {% include "genericform.html" with form=fileform %}
  <input type="submit" value="Add file" class="btn" />
</form>
{% endblock %}
